.front-page {
    .mosaic {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-column-gap: 20px;

        @media (max-width: $mobile-break-point) {
            display: flex;
            flex-direction: column;
            background: red;
        }
    }

    .tile {
        background: lime;
        margin-bottom: 20px;
    }

    .tile-read {
        grid-column-start: 1;
        grid-row-start: 1;
        grid-column-end: 2;
        grid-row-end: 3;
    }

    .tile-snap {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        width: 100%;
        padding-bottom: 75%;
    }

    .tile-info {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .tile-travel {
        height: 100px;
    }
}
