.travel {
    padding-bottom: 64px;

    .world {
        width: 100%;
        height: auto;
    }
    
    .land {
	fill: $background-color;
	fill-opacity: 1;
	stroke: $primary-color;
	stroke-opacity: 1;
	stroke-width: 1;
    }

    .land.visited {
        fill: $primary-color;
    }

    .land:hover, .land.active {
        fill: $accent-color;
    }

    .countries {
        text-align: center;
    }

    .country {
        &:not(:last-child):after {
            content: ",  ";
        }
    }

    .country.active {
        color: $accent-color;
    }
}
