$heading-stack      : 'Space Mono', monospace;
$body-stack         : 'Poppins', sans-serif;
$primary-color      : black;
$background-color   : white;
$accent-color       : blue;
$mobile-break-point : 900px;
