.content {
    max-width: 800px;
    margin: auto;
    font-family: $body-stack;
    font-weight: 300;
    font-size: 100%;
    padding-top: 64px;

    .no-underline {
        text-decoration: none;
    }

    b {
        font-weight: bold;
    }

    h1, h2, h3, h4, h5, h6, h7 {
        text-align: center;
        font-weight: 300;
        word-break: break-all;
    }

    h1 {
        font-size: 64px;
        line-height: 115%;
    }

    .subtitle {
        font-family: $heading-stack;
        font-size: 100%;
        text-align: center;
    }

    .body {
        padding-top: 64px;
        padding-bottom: 80px;
    }
}

nav {
    position: fixed;
    top: 126px;
    font-family: $heading-stack;

    .hidden-on-desktop {
        display: none;

        @media (max-width: $mobile-break-point) {
            display: inline-block;
        }
    }

    @include heading-hyperlink;

    .active {
        color: $accent-color;
    }

    ul {
        list-style: none;
        padding: 0;
        list-style-type: none;
    }

    @media (max-width: $mobile-break-point) {
        top: 0px;
        position: relative;
        text-align: center;

        li {
            display: inline-block;

            &:nth-child(1n + 2):before {
                content: "\2022  ";
            }
        }
    }
}
