@import url('https://fonts.googleapis.com/css?family=Poppins:300|Space+Mono');

@mixin heading-hyperlink {
    a {
        color: black;
        text-decoration: none;
    }

    a:hover {
        background-color: blue;
        color: white;
    }

    a:active {
        color: blue;
    }
}

body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    padding-left: 56px;
    padding-right: 56px;
    padding-top: 56px;
}

header {
    font-family: 'Space Mono', monospace;
    height: 56px;
    line-height: 56px;
    text-align: center;
    font-size: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    @include heading-hyperlink;

    .container {
        margin-left: 56px;
        margin-right: 56px;
        border-bottom: solid 1px;
        background-color: white;
    }

    .left {
        float: left;
    }

    .right {
        float: right;
    }
}

.content {
    max-width: 600px;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 100%;
    padding-top: 64px;

    h1, h2, h3, h4, h5, h6, h7 {
        text-align: center;
        font-weight: 300;
    }

    h1 {
        font-size: 64px;
    }

    .subtitle {
        font-family: 'Space Mono', monospace;
        font-size: 100%;
        text-align: center;
    }

    .body {
        padding-top: 64px;
        padding-bottom: 80px;
    }
}

nav {
    position: fixed;
    top: 126px;
    font-family: 'Space Mono', monospace;

    @include heading-hyperlink;
}
