@import url('https://fonts.googleapis.com/css?family=Poppins:300|Space+Mono');

$heading-stack: 'Space Mono', monospace;
$body-stack: 'Poppins', sans-serif;

$primary-color    : black;
$background-color : white;
$accent-color     : blue;

@mixin heading-hyperlink {
    a {
        color: $primary-color;
        text-decoration: none;
    }

    a:hover {
        background-color: $accent-color;
        color: $background-color;
    }

    a:active {
        color: $accent-color;
    }
}

a {
    color: $accent-color;
}

body {
    font-family: $body-stack;
    padding: 0;
    margin: 0;
    padding-left: 56px;
    padding-right: 56px;
    padding-top: 56px;
    background-color: $background-color;
    color: $primary-color;
}

header {
    font-family: $heading-stack;
    height: 56px;
    line-height: 56px;
    text-align: center;
    font-size: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    @include heading-hyperlink;

    .container {
        margin-left: 56px;
        margin-right: 56px;
        border-bottom: solid 1px;
        background-color: $background-color;
    }

    .left {
        float: left;
        width: 150px;
        text-align: left;
    }

    .center {
        width: 150px;
        text-align: center
    }

    .right {
        float: right;
        width: 150px;
        text-align: right;
    }

    span.active a{
        color: blue;
    }

    span.active a:hover {
        color: $background-color
    }

    span.active a:active {
        color: $accent-color
    }
}

.content {
    max-width: 600px;
    margin: auto;
    font-family: $body-stack;
    font-weight: 300;
    font-size: 100%;
    padding-top: 64px;

    .no-underline {
        text-decoration: none;
    }

    b {
        font-weight: bold;
    }

    h1, h2, h3, h4, h5, h6, h7 {
        text-align: center;
        font-weight: 300;
    }

    h1 {
        font-size: 64px;
        line-height: 115%;
    }

    .subtitle {
        font-family: $heading-stack;
        font-size: 100%;
        text-align: center;
    }

    .body {
        padding-top: 64px;
        padding-bottom: 80px;
    }
}

nav {
    position: fixed;
    top: 126px;
    font-family: $heading-stack;

    @include heading-hyperlink;

    .active {
        color: blue;
    }
}

.books {
    text-align: center;
    list-style: none;
    line-height: 200%;
}

.events {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 32px;
    padding-bottom: 64px;

    .events-0, .events-1, .events-2, .events-3 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
    }

    .events-0, .events-1, .events-2 {
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .events-0 {
        grid-column-start: 2;
        grid-column-end: 4;
    }

    .events-1 {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .events-2 {
        grid-column-start: 4;
        grid-column-end: 5;
    }

    .events-3 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 2;
    }

    .events-0 .event{
        border-bottom: solid 1px $primary-color;
        padding-bottom: 32px;
        padding-top: 32px;

        h2 {
            font-weight: 300;
        }

        .category a {
            font-family: $heading-stack;
            text-decoration: none;
            padding-top: 16px;
        }

        .img {
            background-color: $primary-color;
            width: 100%;
            padding-bottom: 75%;
        }

        .date {
            font-family: $heading-stack
        }
    }

    .events-1 .event {
        border-bottom: solid 1px $primary-color;
        padding-bottom: 32px;
        padding-top: 32px;

        h2 {
            font-weight: 300;
        }

        .category a {
            font-family: $heading-stack;
            text-decoration: none;
            padding-top: 16px;
        }

        .img {
            background-color: $primary-color;
            width: 100%;
            padding-bottom: 75%;
        }

        .date {
            font-family: $heading-stack
        }
    }

    .events-2 .event {
        border-bottom: solid 1px $primary-color;
        padding-bottom: 32px;
        padding-top: 32px;

        h2 {
            font-weight: 300;
        }

        .category a {
            font-family: $heading-stack;
            text-decoration: none;
        }

        .img {
            float: right;
            background-color: $primary-color;
            width: 40%;
            padding-bottom: 40%;
        }

        .date {
            font-family: $heading-stack
        }
    }
}
