@import url('https://fonts.googleapis.com/css?family=Poppins:300|Space+Mono');

$heading-stack: 'Space Mono', monospace;
$body-stack: 'Poppins', sans-serif;

$primary-color    : black;
$background-color : white;
$accent-color     : blue;

@mixin heading-hyperlink {
    a {
        color: $primary-color;
        text-decoration: none;
    }

    a:hover {
        background-color: $accent-color;
        color: white;
    }

    a:active {
        color: $accent-color;
    }
}

a {
    color: $accent-color;
}

body {
    font-family: $body-stack;
    padding: 0;
    margin: 0;
    padding-left: 56px;
    padding-right: 56px;
    padding-top: 56px;
    background-color: $background-color;
    color: $primary-color;
}

header {
    font-family: $heading-stack;
    height: 56px;
    line-height: 56px;
    text-align: center;
    font-size: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    @include heading-hyperlink;

    .container {
        margin-left: 56px;
        margin-right: 56px;
        border-bottom: solid 1px;
        background-color: $background-color;
    }

    .left {
        float: left;
    }

    .center {
    }

    .right {
        float: right;
    }
}

.content {
    max-width: 600px;
    margin: auto;
    font-family: $body-stack;
    font-weight: 300;
    font-size: 100%;
    padding-top: 64px;

    h1, h2, h3, h4, h5, h6, h7 {
        text-align: center;
        font-weight: 300;
    }

    h1 {
        font-size: 64px;
        line-height: 115%;
    }

    .subtitle {
        font-family: $heading-stack;
        font-size: 100%;
        text-align: center;
    }

    .body {
        padding-top: 64px;
        padding-bottom: 80px;
    }
}

nav {
    position: fixed;
    top: 126px;
    font-family: $heading-stack;

    @include heading-hyperlink;
}
