<nav>
  <a href="/" $if(home)$ class="active" $endif$>Home</a><br>
  <a href="/read.html" $if(read)$ class="active" $endif$>Read</a><br>
  <a href="/write.html" $if(write)$ class="active" $endif$>Write</a><br>
  <a href="/snap.html" $if(snap)$ class="active" $endif$>Snap</a><br>
  <a href="/travel.html" $if(travel)$ class="active" $endif$>Travel</a>
</nav>

<div class="content">
  <h2 class="subtitle">$date$</h2>
  <h1>$title$</h1>
  <h2 class="subtitle">Edited $edits$ times.</h2>
  <div class="body">$content$</div>
</div>
