<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>$title$</title>
    <link rel="stylesheet" href="css/index.css" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
  </head>
  <body>

    <header>
      <div class="container">
        <span class="left">
          <a href="/travel.html"><span id="clock">__:__:__ ____</span></a>
        </span>
        <span class="center"><a href="/">Eamon Taaffe</a></span>
        <span class="right $if(info)$ active $endif$">
          <a href="/information.html">Information</a>
        </span>
      </div>
    </header>

    <main>
      <div>$body$</div>
    </main>

    <script src="js/clock.js"></script>
    <script>
      renderClock(document.getElementById("clock"), $offset$, "$zone$");
    </script>
  </body>
</html>
