<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>$title$</title>
    <link rel="stylesheet" href="/css/default.css" />
  </head>
  <body>

    <header>
      <div class="container">
        <span id="clock" class="left"></span>
        <span class="center"><a href="/">Eamon Taaffe</a></span>
        <span class="right"><a href="/information.html">Information</a></span>
      </div>
    </header>

    <main>
      <div>$body$</div>
    </main>

    <script src="js/clock.js"></script>
    <script>
      updateClock(10, "AEST");
    </script>
  </body>
</html>
