<div class="front-page">
    $for(infos)$
    <div class="tile tile-info">
      <p class="category">
        <a href="/$lowercase(category)$.html">$category$</a>
      </p>
      <h2 class="title">$title$</h2>
      <div class="body">$snippet(body)$</div>
      <p class="date">$date$</p>
    </div>
    $endfor$

    <div class="tile tile-read">
      <p class="category">
        <a href="/read.html">Read</a>
      </p>
      <h2 class="title">Latest Reads</h2>

      <ol>
        $for(books)$
        <li><div><h3>$title$</h3> <span class="author">by $author$</span></div></li>
        $endfor$
      </ol>
    </div>
    
    <div class="tile tile-snap">
      <p class="category">
        <a href="/snap.html">Snaps</a>
      </p>
      <h2 class="title">Latest Snaps</h2>

      <ol>
        $for(snaps)$
        <li>$title$</li>
        $endfor$
      </ol>
    </div>

    $for(travels)$
    <div class="tile tile-travel">
      <p class="category">
        <a href="/travel.html">Travel</a>
      </p>
      <h2 class="title">Currently in</h2>
      <div class="body">$country$</div>
    </div>
    $endfor$
  </div>
</div>
