<div class="front-page">

  <div class="column column-left">
    $for(infos)$
    <div class="tile tile-info">
      <p class="category">
        <a href="/$lowercase(category)$.html">$category$</a>
      </p>
      <h2 class="title">$title$</h2>
      <div class="body">$snippet(body)$</div>
      <p class="date">$date$</p>
    </div>
    $endfor$

    <div class="tile tile-read">
      <span class="category">
        <a href="/read.html">Read</a>
      </span>

      <h2 class="title">Latest Reads</h2>

      $for(books)$
      <div class="book">
        <div class="counter"></div>
        <span class="title">$title$</span>
        <span class="author">by $author$</span>
      </div>
      $endfor$
    </div>

    $for(travels)$
    <div class="tile tile-travel">
      <p class="category">
        <a href="/travel.html">Travel</a>
      </p>
      <h2 class="title">Currently In</h2>
      <div class="body">$country$</div>
      <p class="date">$date$</p>
    </div>
    $endfor$
  </div>

  <div class="column-right">
    $for(snaps)$
    <div class="tile tile-snap">
      <div class="thumbnail"><img src="$img$"></img></div>
      <p class="category">
        <a href="/snap.html">Snap</a>
      </p>
      <h2 class="title">$title$</h2>
      <p class="date">$date$</p>
    </div>
    $endfor$
  </div>
</div>
