<div class="events">
  <div class="events-0">
    $for(events-0)$
    <div class="event">
      <div class="img"></div>
      <br>
      <span class="category"><a href="/$lowercase(category)$.html">$category$</a></span>
      <h2 class="title">$title$</h2>
      <span class="date">$date$</span>
    </div>
    $endfor$
  </div>
  <div class="events-1">
    $for(events-1)$
    <div class="event">
      <div class="img"></div>
      <br>
      <span class="category"><a href="/$lowercase(category)$.html">$category$</a></span>
      <h2 class="title">$title$</h2>
      <span class="date">$date$</span>
    </div>
    $endfor$
  </div>
  <div class="events-2">
    $for(events-2)$
    <div class="event">
      <div class="img"></div>
      <span class="category"><a href="/$lowercase(category)$.html">$category$</a></span>
      <h2 class="title">$title$</h2>
      <span class="date">$date$</span>
    </div>
    $endfor$
  </div>
  <!-- <div class="events-3"> -->
  <!--   <h3>3</h3> -->
  <!--   $for(events-3)$ -->
  <!--   <div class="event"> -->
  <!--     <span class="title">$title$</span> -->
  <!--     <span class="date">$date$</span> -->
  <!--     <span class="category"><a href="/$category$.html">$category$</a></span> -->
  <!--   </div> -->
  <!--   $endfor$ -->
  <!-- </div> -->
</div>
